/* Home Page */
.home-page .categories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: 100px auto 20px auto;
}

.category-wrapper {
    width: 33.33%;
    margin: 50px 0;
    text-align: center;
}

.category {
    width: fit-content;
    margin: auto;
    border-bottom: 1px solid transparent;
    position: relative;
}

.category:hover {
    cursor: pointer;
    border-color: #dee2e6;
}

.category .category-title {
    margin: 10px 0;
    display: block;
    color: #5a5a5a;
}

.circle-notification {
    background-color: red;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 10px;
    text-align: center;
}

.circle-notification span {
    font-size: 15px;
}
